---
const posts = ["has", "subgrid", "container", "css layers"];
const linksIllustrations = [
  "Saly-1.png",
  "Saly-8.png",
  "Saly-11.png",
  "Saly-17.png",
  "Saly-20.png",
  "3d-plastic-people-tv.png",
];
import { experimentsPagesDetails } from "../utils/experimentsPagesDetails";
---

<ul>
  {
    experimentsPagesDetails
      .filter((experiment) => experiment.deployed)
      .map((experiment, i) => (
        <li>
          {experiment.deployed ? (
            <a
              class='post-link-card'
              href={`/experiments/${experiment.path}`}
              style={`--bg-color: var(${experiment.bgColor}); --txt-color: var(${experiment.textColor});`}
            >
              <div class='tags'>
                {experiment.tags.map((tag) => (
                  <span>{tag}</span>
                ))}
              </div>
              <div class='title'>{experiment.title}</div>
              <img
                src={`/images/${
                  experiment?.illustration ?? linksIllustrations[i]
                }`}
                alt=''
              />
            </a>
          ) : (
            <div
              class='post-link-card disabled'
              style={`--bg-color: var(${experiment.bgColor}); --txt-color: var(${experiment.textColor});`}
            >
              <div class='tags'>
                {experiment.tags.map((tag) => (
                  <span>{tag}</span>
                ))}
              </div>
              <div class='title'>{experiment.title}</div>
              <img
                src={`/images/${
                  experiment?.illustration ?? linksIllustrations[i]
                }`}
                alt=''
              />
              <div class='soon'>Soon</div>
            </div>
          )}
        </li>
      ))
  }
</ul>
<style>
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    list-style-type: none;
    padding: 0;
    max-width: 80vw;
    margin: auto;
  }
  li {
    position: relative;
  }
  li:hover a.post-link-card img {
    transform: scale3d(1.05, 1.05, 1.05) rotate(-2deg);
    filter: drop-shadow(4px 4px 3px var(--bg-color));
  }
  .post-link-card {
    border-radius: 25px;
    height: 200px;
    width: 250px;
    padding: 2rem;
    display: grid;
    grid-template-rows: 10% 60% 10% 10%;
    grid-template-columns: 1fr;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    background: var(--grey-disabled);
    color: var(--grey-disabled-dark);
  }
  a.post-link-card {
    background: var(--bg-color);
    color: var(--txt-color);
    transition: border ease-in-out 0.1s;
    border: 1px solid transparent;
  }
  a.post-link-card:hover {
    border: 1px solid var(--txt-color);
    box-shadow: var(--bg-color) 0 0 50px;
  }
  a.post-link-card:focus-visible {
    outline: 2px solid var(--txt-color);
  }
  div.post-link-card {
    opacity: 0.5;
  }
  div.post-link-card div.soon {
    text-transform: none;
    background: var(--bg-primary);
    color: initial;
    position: absolute;
    padding: 6px 15px 8px;
    border-radius: 15px;
    top: 50%;
    left: 35%;
    transform: rotate(-20deg);
    box-shadow: var(--shadow-elevation-high) 0 0 20px;
  }
  li .title {
    grid-column: 1 / -1;
    grid-row: 2 / 4;
    justify-self: center;
    align-self: center;
  }
  li img {
    width: 150px;
    height: auto;
    position: absolute;
    bottom: 10px;
    right: 10px;
    transition: all ease-in-out 0.4s;
  }
  .tags {
    display: flex;
    gap: 10px;
    align-self: start;
    justify-self: start;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }
  .tags span {
    font-size: 0.4em;
    background: var(--bg-color);
    padding: 4px 6px;
    border-radius: 5px;
  }
  @media screen and (min-width: 800px) {
    .post-link-card {
      width: 300px;
    }
  }
</style>
